.about {
  &__lists {
    margin: 53px 0;
    display: flex;
    justify-content: space-between;
    text-align: left;
  }

  &__edge {
    width: 540px;

    & + & {
      margin-left: 30px;
    }

    li + li {
      margin-top: 26px;
    }
  }

  &__edge-item {
    padding-left: 50px;
    font-size: 24px;
    line-height: 30px;
    position: relative;

    &::after {
      content: '';
      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='38' height='37' viewBox='0 0 38 37' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cg clip-path='url(%23clip0_3_129)'%3e%3cpath d='M30.791 24.0417L37.2704 16.7311C38.7256 15.0838 37.8849 12.461 35.7583 12.0021L26.2855 9.9571L21.4449 1.43692C21.2033 1.00235 20.8488 0.640071 20.4185 0.387789C19.9882 0.135507 19.4977 0.00244141 18.998 0.00244141C18.4984 0.00244141 18.0078 0.135507 17.5775 0.387789C17.1472 0.640071 16.7927 1.00235 16.5511 1.43692L11.7093 9.9571L2.23654 12.0021C0.105163 12.4622 -0.730811 15.0885 0.724443 16.7311L7.20264 24.0417L6.19497 33.828C5.96763 36.026 8.16767 37.6497 10.1546 36.7508L18.9998 32.7501L27.845 36.7508C29.8319 37.6497 32.032 36.026 31.8046 33.828L30.791 24.0417Z' fill='%23FFBA00'/%3e%3c/g%3e%3cdefs%3e%3cclipPath id='clip0_3_129'%3e%3crect width='38' height='37' fill='white'/%3e%3c/clipPath%3e%3c/defs%3e%3c/svg%3e");
      width: 38px;
      height: 37px;
      position: absolute;
      left: -15px;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}
