.first {
  background-color: #003D96;
  padding: 255px 0 145px;
  position: relative;
  overflow: hidden;

  &__inner {
    position: relative;
    z-index: 5;


    &::after {
      content: '';
      position: absolute;
      background-image: url(../img/Ellipse.png);
      background-repeat: no-repeat;
      background-size: 100%;
      height: 862px;
      width: 1291px;
      top: -141px;
      left: -50%;
      z-index: -1;
    }
  }
}

