.footer {
  background-color: #003C96;
  padding: 98px 0;

  &__inner {
    display: flex;
    justify-content: space-between;
    color: #fff;
  }

  &__soclials {
    margin: 27px 0 23px;
    display: flex;
    align-items: center;

    li + li {
      margin-left: 12px;
    }
  }

  &__socials-item {
    width: 27px;
    height: 27px;
    border-radius: 50%;
    background-color: #07214B;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__socials-link {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__left-list {
    li + li {
      margin-top: 12px;
    }
  }

  &__left-item {
    display: flex;
    align-items: center;
  }

  &__mid-title {
    font-weight: 700;
    margin-bottom: 17px;
  }

  &__mid-list {
    li + li {
      margin-top: 6px;
    }
  }

  &__folder-img {
    margin-right: 12px;
    width: 24px;
    height: 24px;
  }

  &__item-link {
    text-decoration: underline;
  }

  &__inner-right {
    width: 285px;
  }
}
