.header {
  position: fixed;
  width: 100%;
  padding: 29px 0 41px;
  background-color: #fff;
  z-index: 100;

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__nav {
    width: 700px;
  }

  &__nav-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;

    li + li {
      margin-left: 13px;
    }
  }

  &__nav-link {
    width: 135px;

    &--active,
    &:hover {
      font-weight: 700;
      transition: 0.5s ease-in-out 0.3;
    }
  }

  &__lang-select {
    font-weight: 700;
    text-transform: uppercase;
  }
}
