.header {
  position: fixed;
  width: 100%;
  padding: 29px 0 41px;
  background-color: #fff;
  z-index: 100;

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__nav {
    width: 550px;
  }

  &__nav-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;

    li + li {
      margin-left: 13px;
    }
  }

  &__nav-link {
    &--active {
      font-weight: 700;
    }
  }

  &__lang-select {
    font-weight: 700;
    text-transform: uppercase;
  }
}
