@media (min-width: 1350px) and (max-width: 1600px) {
  .main::before {
    height: 850px;
    width: 730px;
    top: 110px;
  }
}

@media (min-width: 1200px) and (max-width: 1351px) {
  .main::before {
    height: 755px;
    width: 662px;
    top: 155px;
  }

  .first__inner {
    &::after {
      height: 756px;
      width: 1193px;
      left: -40%;
    }
  }
}

@media (min-width: 1000px) and (max-width: 1199px) {
  .main::before {
    display: none;
  }

  .container {
    padding: 0 20px;
  }

  .modal__container {
    width: 90%;
  }

  .modal__policy {
    width: 100%;
    height: auto;
    padding: 55px 30px;
  }

  .first__inner::after {
    display: none;
  }

  .header__nav-menu li+li {
    margin-left: 5px;
  }

  .about__lists {
    justify-content: center;
  }

  .about__edge {
    width: 430px;
  }

  .about__edge-item::after {
    left: 0;
  }
}

@media (min-width: 769px) and (max-width: 999px) {
  .container {
    padding: 0 15px;
  }

  .modal__container {
    width: 90%;
  }

  .modal__policy {
    width: 100%;
    height: auto;
    padding: 55px 30px;
  }

  .modal__policy-title {
    font-size: 24px;
    line-height: 30px;
  }

  .main::before {
    display: none;
  }

  .first__inner::after {
    display: none;
  }

  .header__nav {
    display: none;
  }

  .header__nav-menu li+li {
    margin-left: 5px;
  }

  .about__lists {
    justify-content: center;
  }

  .about__edge {
    width: 430px;
  }

  .about__edge-item::after {
    left: 0;
  }

  .apply__form {
    width: 720px;
  }

  .burger-menu {
    display: block;
  }

  .form__confirm-terms {
    font-size: 17px;
  }

  .modal__container-confirm {
    width: 350px;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .container {
    padding: 0 33px;
  }

  .modal__container {
    width: 90%;
  }

  .modal__policy {
    width: 100%;
    height: auto;
    padding: 55px 25px;
  }

  .modal__policy-title {
    font-size: 24px;
    line-height: 30px;
  }

  .modal__container-confirm {
    width: 350px;
  }

  .title {
    font-size: 48px;
    line-height: 61px;
    max-width: 470px;
    margin: 0 auto;
  }

  .inner {
    padding: 60px 0;
  }

  .main::before {
    display: none;
  }

  .first {
    padding: 193px 0 80px;
    text-align: center;
    font-size: 48px;
  }

  .first__inner::after {
    display: none;
  }

  .header__nav {
    display: none;
  }

  .about__lists {
    flex-direction: column;
    justify-content: center;
  }

  .about__edge {
    width: 100%;
  }

  .about__edge+.about__edge {
    margin-top: 27px;
    margin-left: 0;
  }

  .lenta__numbers-descr {
    min-height: 90px;
    margin-bottom: 0;
  }

  .lenta__numbers {
    margin-top: 45px;
    flex-flow: wrap;
    justify-content: center;
  }

  .lenta__numbers-item {
    width: 255px;
    margin-bottom: 45px;

    &:first-child,
    &:nth-child(2) {
      order: -1;
    }

    &:nth-child(3) {
      order: 1;
    }

    &:nth-child(4) {
      order: 0;
    }

    &:nth-child(5) {
      order: -1;
    }

    &:nth-child(6) {
      order: 1;
    }

    &:last-child {
      order: 1;
    }
  }

  .rules__list {
    flex-direction: column;
    justify-content: center;

    li + li {
      margin-top: 50px;
    }
  }

  .rules__item {
    width: 100%;
  }

  .apply::before {
    display: none;
  }

  .apply__form {
    width: 100%;
  }

  .form__label,
  .form__btn {
    width: 100%;
  }

  .form__upload {
    padding: 19px 16px 19px 33px;
  }

  .form__upload-descr {
    max-width: 387px;
  }

  .form__quiz-answer {
    min-width: 115px;
  }

  .footer__inner {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .footer__soclials {
    margin: 44px 0 30px;
    justify-content: center;

    li + li {
      margin-left: 30px;
    }
  }

  .footer__left-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    li + li {
      margin-top: 25px;
    }
  }

  .footer__inner-mid {
    margin: 60px 0;
  }

  .footer__inner-right {
    width: 100%;
  }

  .burger-menu {
    display: block;
  }

  .mobile-menu.active {
    height: 567px;
  }

  .form__confirm-terms {
    font-size: 16px;
  }

  .footer__mid-list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media (min-width: 320px) and (max-width: 575px) {
  .container {
    padding: 0 15px;
  }

  .modal__container {
    width: 90%;
  }

  .modal__policy {
    width: 100%;
    height: auto;
    padding: 55px 15px;
  }

  .modal__confirm {
    width: 100%;
  }

  .title {
    font-size: 48px;
    line-height: 62px;
    max-width: 100%;
    margin: 0 auto;
  }

  .description {
    font-size: 18px;
    line-height: 22px;
  }

  .inner {
    padding: 50px 0;
  }

  .header__logo {
    svg {
      width: 125px;
    }
  }

  .main::before {
    display: none;
  }

  .first {
    padding: 193px 0 80px;
    text-align: center;
    font-size: 48px;
  }

  .first__inner::after {
    display: none;
  }

  .header__nav {
    display: none;
  }

  .about__lists {
    flex-direction: column;
    justify-content: center;
    margin: 43px 0;
  }

  .about__edge {
    width: 100%;
  }

  .about__edge+.about__edge {
    margin-top: 27px;
    margin-left: 0;
  }

  .about__edge-item {
    font-size: 18px;

    &::after {
      left: 0;
    }
  }

  .lenta__numbers {
    margin-top: 45px;
    flex-flow: wrap;
  }

  .lenta__numbers-item {
    width: 240px;
    margin-bottom: 45px;

    &:first-child,
    &:nth-child(2) {
      order: -1;
    }

    &:nth-child(3) {
      order: 1;
    }

    &:nth-child(4) {
      order: 0;
    }

    &:nth-child(5) {
      order: -1;
    }

    &:nth-child(6) {
      order: 1;
    }

    &:last-child {
      order: 1;
    }
  }

  .rules__list {
    flex-direction: column;
    justify-content: center;

    li + li {
      margin-top: 50px;
    }
  }

  .rules__item {
    width: 100%;
  }

  .apply::before {
    display: none;
  }

  .apply__form {
    width: 100%;
  }

  .form__label,
  .form__btn {
    width: 100%;
  }

  .form__quiz-line {
    height: auto;
  }

  .form__upload {
    padding: 10px;
    height: auto;
  }

  .form__label-upload {
    min-width: 48px;
    margin-right: 20px;
  }

  .form__quiz-answer {
    min-width: 107px;
  }

  .form__descr {
    text-align: center;
  }

  .footer {
    padding: 50px 0;
  }

  .footer__inner {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .footer__soclials {
    margin: 44px 0 30px;
    justify-content: center;

    li + li {
      margin-left: 20px;
    }
  }

  .footer__left-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    li + li {
      margin-top: 25px;
    }
  }

  .footer__left-item {
    width: 100%;
    text-align: left;

    &:first-child {
      .footer__item-link {
        justify-content: center;
      }
    }
  }

  .footer__inner-mid {
    margin: 60px 0;
  }

  .footer__mid-list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer__inner-right {
    width: 100%;
  }

  .burger-menu {
    display: block;
  }

  .mobile-menu.active {
    transform: translateX(50%);
  }

  .modal__container {
    width: 90%;
  }

  .modal-content {
    width: 100%;
  }

  .mobile-menu.active {
    height: 347px;
  }

  .form__confirm-terms {
    font-size: 16px;

    button {
      display: contents;
    }
  }

  .form__item {
    align-items: center;
    justify-content: space-evenly;
  }

  .form__upload-descr {
    max-width: 75%;
  }
}



