.burger-menu {
  display: none;
  flex-direction: column;
  max-width: 44px;
  z-index: 10;
  position: relative;

  span {
    background: #606060;
    width: 44px;
    height: 4px;
    display: block;
    transition: all .4s;
  }

  span + span {
    margin-top: 10px;
  }
}

.burger-menu.active {
  span:nth-child(1) {
    transform: rotate(45deg) translate(15px, 5px);
  }

  span:nth-child(2) {
    opacity: 0;
  }

  span:nth-child(3) {
    transform: rotate(-45deg) translate(15px, -5px);
  }
}

.mobile-menu {
  position: fixed;
  top: 118px;
  right: 0;
  width: 395px;
  height: 675px;
  background-color: #fff;
  transform: translateX(100%);
	transition: transform 0.5s;

  &.active {
    transform: translateX(0);
  }

  .header__nav-menu {
    margin-top: 25px;
    flex-direction: column;

    li + li {
      margin-left: 0;
    }
  }

  .header__nav-item {
    width: 100%;
    height: 53px;
    display: flex;
    align-items: center;
    justify-content: start;
    padding-left: 34px;

    &__nav-link--active {
      .header__nav-item {
        background-color: red !important;
      }
    }
  }
}



