.rules {
  background-color: #F7F7F7;

  &__list {
    display: flex;
    justify-content: space-between;
  }

  &__item {
    width: 350px;
    font-size: 24px;
    line-height: 30px;
  }

  &__item-svg {
    animation: beat 1.5s ease infinite;

    @keyframes beat {
      from {
        transform: scale(1);
      }

      50% {
        transform: scale(1.2);
      }

      to {
        transform: scale(1);
      }
    }
  }

  &__item-descr {
    margin-top: 19px;
  }
}
