.select {
	position: relative;
	width: 50px;
}
.select.is-active .select__body {
	display: block;}

.select__header {
	cursor: pointer;
	display: flex;
}
.select__current {
	font-size: 18px;
	line-height: 24px;
  text-transform: uppercase;
}

.select__body {
	border-top: 0;
	display: none;
	left: 0;
	position: absolute;
	right: 0;
	top: 100%;
}
.select__item {
	cursor: pointer;
	font-size: 18px;
	line-height: 24px;
  text-transform: uppercase;
}
